@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Rampart One', cursive;
    background: linear-gradient(top left, rgb(39, 184, 39), rgb(94, 238, 94));
    overflow: hidden;
}

.timer {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 20px;
    color:black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 800;
    transition: .3s;
}

.game-object {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: .8s;
    z-index: 0;

    &._collected-object {
        top: 100vh !important;
    }
    
    span {
        color:black;
        font-weight: 700;
        font-size: 30px;
        line-height: 0.5;
        display: none;
    }
}

.game-start {
    z-index: 100;
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    left: 0;
    top: 0;


    &__text {
        width: 100%;
        height: 100%;
        color:white;
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        transform: scale(0);

        &._active {
            transform: scale(1);
        }
    }
}

.player {
    &-item {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.01s linear;
        width: 60px;
        height: 60px;
        z-index: 10;
    }
}


.modal {
    &-content {
        border:none !important;
        border-radius: 0 !important;
        min-height: 250px;
    }

    &-body {
        font-size: 22px;
        text-align: center;
        p {
            font-weight: 400;

            span {
                font-weight: 600;
                color: darkred;
            }
        }
    }

    &-header {
        border:none !important;
    }

    &-footer {
        padding: 10px 0 0 0 !important;
        border:none !important;
        justify-content: center !important;

        button {
            color:rgb(71, 71, 71);
            background: none;
            font-weight: 700;
            letter-spacing: 1px;
            transition: .3s;
            font-size: 20px;
            box-shadow: none !important;
        }
    }

    &-close-footer {
        &:hover {
            color:#E9424D !important;
        }
    }

    &-send-footer {
        &:hover{
            color:#2C9B42 !important;
        }
    }
}

.collect-item-text {
    background: white;
    border:2px solid black;
    font-weight: 600;
    width: 100px;
    position: absolute;
    padding: 5px;
    padding-top: 10px;
    right: 0%;
    top: -120%;
    color:dimgray;
    display: none;

    span {
        color:black;
        border: 2px solid black;
        padding: 5px;
    }
}